nvitop==1.3.2
wcwidth==0.2.5
pure-eval==0.2.2
parso==0.8.3
executing==1.1.1
asttokens==2.0.8
tornado==6.2
stack-data==0.5.1
pyzmq==24.0.1
python-dateutil==2.8.2
Pygments==2.13.0
prompt-toolkit==3.0.31
pickleshare==0.7.5
nest-asyncio==1.5.6
matplotlib-inline==0.1.6
jedi==0.18.1
decorator==5.1.1
backcall==0.2.0
pkgutil_resolve_name==1.3.10
jupyter_client==7.4.4
ipython==8.5.0
debugpy==1.6.3
ipykernel==6.16.2
isal==1.7.0
deepl==1.14.0
rfc3986==1.5.0
hyperframe==5.2.0
hpack==3.0.0
sniffio==1.3.0
hstspreload==2023.1.1
h2==3.2.0
nvidia-ml-py==12.535.161
googletrans==4.0.0rc1
tqdm==4.65.0
numpy==1.23.5
ftfy==6.1.1
psutil==6.0.0
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cublas-cu11==11.10.3.66
termcolor==2.4.0
xopen==2.0.2
nvidia-cudnn-cu11==8.5.0.96
pip==24.2
cachetools==5.5.0
omegaconf==2.3.0
msgpack==1.0.5
distlib==0.3.6
zlib-ng==0.5.0
pyrsistent==0.19.3
platformdirs==3.2.0
regex==2024.9.11
tiktoken==0.7.0
virtualenv==20.21.0
charset-normalizer==3.3.2
jsonschema==4.17.3
pytz==2023.3
pandas==1.5.3
tabulate==0.9.0
tensorboardX==2.6
deeplog==0.0.3
webencodings==0.5.1
Send2Trash==1.8.0
ptyprocess==0.7.0
mistune==2.0.5
ipython-genutils==0.2.0
fastjsonschema==2.16.3
widgetsnbextension==4.0.7
websocket-client==1.5.1
webcolors==1.13
uri-template==1.2.0
ipywidgets==8.0.6
traitlets==5.9.0
tinycss2==1.2.1
terminado==0.17.1
soupsieve==2.4
rfc3986-validator==0.1.1
rfc3339-validator==0.1.4
python-json-logger==2.0.7
pycparser==2.21
requests==2.32.3
pandocfilters==1.5.0
MarkupSafe==2.1.2
jupyterlab-widgets==3.0.7
jupyterlab-pygments==0.2.2
jsonpointer==2.3
fqdn==1.5.1
defusedxml==0.7.1
bleach==6.0.0
anyio==3.6.2
QtPy==2.3.1
jupyter_server_terminals==0.4.4
jupyter-events==0.6.3
jupyter_core==5.3.0
Jinja2==3.1.2
cffi==1.15.1
beautifulsoup4==4.12.0
arrow==1.2.3
nbformat==5.8.0
isoduration==20.11.0
argon2-cffi-bindings==21.2.0
nbclient==0.7.2
argon2-cffi==21.3.0
qtconsole==5.4.1
nbconvert==7.2.10
jupyter-console==6.6.3
jupyter_server==2.5.0
notebook_shim==0.2.2
nbclassic==0.5.3
notebook==6.5.3
jupyter==1.0.0
threadpoolctl==3.1.0
joblib==1.2.0
lightgbm==3.3.5
kiwisolver==1.4.4
fonttools==4.39.3
cycler==0.11.0
contourpy==1.0.7
matplotlib==3.7.1
openai==0.27.4
setuptools==75.1.0
wheel==0.44.0
pip==24.2
Brotli==1.0.9
certifi==2024.8.30
charset-normalizer==3.3.2
filelock==3.13.1
gmpy2==2.1.2
idna==3.7
MarkupSafe==2.1.3
mkl-service==2.4.0
mpmath==1.3.0
networkx==3.1
pillow==10.4.0
PySocks==1.7.1
PyYAML==6.0.1
typing_extensions==4.11.0
Jinja2==3.1.4
numpy==1.24.3
sympy==1.13.2
urllib3==2.2.3
requests==2.32.3
mkl-fft==1.3.8
mkl-random==1.2.4
torch==2.2.2
torchaudio==2.2.2
triton==2.2.0
torchvision==0.17.2
aiohappyeyeballs==2.4.0
async-timeout==4.0.3
attrs==23.1.0
frozenlist==1.4.0
fsspec==2024.6.1
joblib==1.4.2
multidict==6.0.4
packaging==24.1
platformdirs==3.10.0
psutil==5.9.0
pyparsing==3.1.2
threadpoolctl==3.5.0
tqdm==4.66.5
aiosignal==1.2.0
yarl==1.11.0
aiohttp==3.10.5
pooch==1.7.0
scipy==1.10.1
scikit-learn==1.3.0
torch_geometric==2.5.2
tokenizers==0.10.3
zipp==3.20.2
Werkzeug==3.0.4
tensorboard-data-server==0.7.2
smmap==5.0.1
six==1.16.0
setproctitle==1.3.3
sentry-sdk==2.16.0
pyasn1==0.6.1
protobuf==5.28.2
oauthlib==3.2.2
loguru==0.7.2
grpcio==1.66.2
einops==0.8.0
click==8.1.7
absl-py==2.1.0
sacremoses==0.1.1
rsa==4.9
requests-oauthlib==2.0.0
pyasn1_modules==0.4.1
importlib_metadata==8.5.0
huggingface-hub==0.25.1
gitdb==4.0.11
docker-pycreds==0.4.0
transformers==4.15.0
Markdown==3.7
google-auth==2.35.0
GitPython==3.1.43
accelerate==0.8.0
wandb==0.18.3
google-auth-oauthlib==1.0.0
tensorboard==2.14.0
torch_spline_conv==1.2.2+pt22cu121
torch_scatter==2.1.2+pt22cu121
pyg-lib==0.4.0+pt22cu121
torch_sparse==0.6.18+pt22cu121
torch_cluster==1.6.3+pt22cu121
